<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog>

    <targets>
      <target name="console" type="Console" layout="${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=ToString,Data:exceptionDataSeparator=&#xD;&#xA;}}" xdt:Transform="Insert" />
      <target type="StackifyTarget" xdt:Locator="Match(type)" xdt:Transform="Remove" />
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="console" xdt:Transform="Insert"/>
      <logger writeTo="stackify" xdt:Locator="Match(writeTo)" xdt:Transform="Remove"/>
    </rules>

  </nlog>

</configuration>